<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="">Home</a></span> / <span>List</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(../../assets/images/cover-img-1.jpg);">
                    <h2>New Arrivals</h2>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-cols-3">
        <div class="col" *ngFor="let newshoe of newshoe">
            <a routerLink="{{'/details/' + newshoe._id}}">
                <div>
                    <img src="{{'../../assets/img/bg-img/' + newshoe.color[0].imageColor}}" alt="">
                    <div>{{newshoe.Name}}</div>
                    <div>{{newshoe.Price}}</div>
                </div>
            </a>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col-md-12 text-center">
            <div class="block-27">
                <ul>
                    <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->



    <div class="colorlib-partner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                    <h2>Trusted Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col partner-col text-center">
                    <img src="../../assets/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="../../assets/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="../../assets/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="../../assets/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
                <div class="col partner-col text-center">
                    <img src="../../assets/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                </div>
            </div>
        </div>
    </div>