extends layout

block content
  h1.WebisteHeader History!
   .bannerimageabout
  
  p  Jack was a professional trumpet player who, in 1956, thought that maybe he could sell instruments to some of his friends in the musical community.  He set up a small store on Carlton Street in Toronto on the second floor of an old house and became a dealer for King Band Instruments.  The floor was divided up into music studios so Jack was also able to teach trumpet lessons on the side.  About 6 months later, Jack rented out a room to a local drummer named Jack McQuade which he used for drum lessons
  p  In 1957, the Jacks decided to open up a small retail store on Yonge Street and named it Long & McQuade Musical Instruments.  Many existing customer service policies sprang from these early days.  The rental program began when the partners decided to start charging their friends for all the instruments they were borrowing.  The financing program began when a customer asked if he could purchase a drum set but not pay for it all at once.  Jack & Jack continued as partners until 1965 when Jack McQuade decided to pursue drumming full time and sold his portion of the company to Jack Long.
  p  Long & McQuade began expanding in 1968 and has not stopped since.  Currently there are over 80 Long & McQuade stores across Canada as well as an online store that opened in 2008.  The company employs over 1,300 musicians and contracts around 1,000 music teachers across Canada.  To this day, the entire company is still 100% owned by the Long family.

