extends layout

block content
  nav
  navbar-default  
    h1.WebisteHeader Fifth Symphony!
    .bannerimage
  h1= title
  p Welcome to #{title}
  p Fifth Symphony! is a young musical instrument brand founded in 2012.Crafting well-designed and affordable musical instruments and accessories, and getting them into people's hands so they can make great music is our mission.You make the music. We help you get there.
  p Sign up for our newsletter be the first to know about coupons and special promotions.
  .container(style='margin-top:50px;')
  .row
    .col-md-3
      .card-sl
        .card-image
          img(src='/static/piano-card1.jpg')
     
          i.fa.fa-heart
        .card-heading
          | Piano DDP-80 Digital Piano
        .card-text
          | Shop your first upright or portable digital Keyboard on Fifth symphony, you can also find kalimba and keyboard accessories here, free shipping!
        .card-text
          | $67,400
        a.card-button(href='#')  Purchase
    .col-md-3
      .card-sl
        .card-image
          img(src='/static/guitar-card2.jpg')
     
          i.fa.fa-heart
        .card-heading
          | Designer Series Electric Guitar-Donner DST-200
        .card-text
          | The Donner DST-200 electric guitar comes with an adjustable truss rod, so you can get the playing action and intonation exactly where you want it
        .card-text
          | $192,400
        a.card-button(href='#')  Purchase
    .col-md-3
      .card-sl
        .card-image
          img(src='/static/drum-card3.jpg')
     
          i.fa.fa-heart
        .card-heading
          | Drums
        .card-text
          | Donner DED-300 8 Piece Electronic Drum Set with Upgraded Mesh Pads and High-Density Bass Drum comes with an adjustable truss rod, so you can get the playing.
        .card-text
          | $178,400
        a.card-button(href='#')  Purchase
    .col-md-3
      .card-sl
        .card-image
          img(src='/static/bagpipe-card4.jpg')
     
          i.fa.fa-heart
        .card-heading
          | Bagpiper
        .card-text
          |Donner DED-300 8 Piece Electronic Drum Set with Upgraded Mesh Pads and High-Density Bass comes with an adjustable truss rod, so you can get the playing action and intonation
        .card-text
          | $67,400
        a.card-button(href='#')  Purchase

