doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
       script(src='/build/main.js') 
       script(src='/build/polyfill.js')
       script(src='/build/runtime.js')
       script(src='/build/vendor.js')